//home
.img-bck{
	border:1px solid $gris;
	.img{
		padding:5px;
		img{
			width:100%;
		}
	}
}


#client{
	.container-fluid{
		background-image:url('../../assets/images/slider1.jpg');
		background-size:cover;
		background-position:bottom;
	}
	
}